nav.menu {
    background-color: #dad732;
    min-width: max-content;
    color: white;
}
.menu ul {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    list-style: none;
}

.menu a {
    font-size: 4vmin;
    text-decoration: none;
    color: inherit;
}
