footer {
    background-color: #7fe272;
    font-size: 3vmin;
    min-width: max-content;
    min-height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
